@use "./../01-abstracts/" as *;

.wrapper {
  padding: 81px 27px 37px 28px;

  @include breakpoint($md) {
    padding-top: 80px;
    padding-bottom: 49px;
  }
}

.header {
  max-width: 56px;
  margin: 0 auto 32px;
  @include breakpoint($md) {
    max-width: 90px;
    margin-bottom: 40px;
  }
}

.footer {
  &__socials {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: $blue;
    margin-bottom: 27px;
    &-li {
      width: 32px;
      height: 31px;
      border: 1px solid $light-blue;
      border-radius: 100%;
      display: flex;
      padding: 7px;
    }
  }
  &__rights {
    font-size: rem(10px);
    line-height: rem(12px);
    color: $gray;
    text-align: center;
  }
}
